.towns {
    text-decoration: none;
}

.towns:hover {
    text-decoration: underline;
}

.region-block {
    min-height: 500px;
    margin-bottom: 30px;
}

#show_amenities {
    font-size: 15px;
    padding: 5px;
}

#show_amenities:hover,
#show_regions:hover,
#show_destinations,
#show_accommodation_types:hover,
#show_food_types:hover
{
    cursor: pointer;
}

#filter_form {
    position: relative;
}

#search_up {
    z-index: 9;
    width: 330px;
    transition:  top 0.3s ease-out 0.3s;
}

/* destination-items */

.flexslider .flex-prev, .flexslider .flex-next {
    background: white none repeat scroll 0 0;
    border-radius: 1px;
    color: #026dc5;
    display: block !important;
    font-family: FontAwesome;
    font-size: 34px;
    font-style: normal;
    font-weight: bold;
    height: 38px;
    line-height: 25px;
    margin-bottom: 10px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 45%;
    width: 32px;
    padding-top: 6px;
}
.flexslider .flex-next {
    right: 0px;
}
.flexslider .flex-prev{
    left: 0px;
}

.frame {
    background: #333333;
    height:518px;
    width:690px;
    position: relative;
}

.slide_image {
    width: auto !important;
    max-height: 518px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.caption {
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    color: white;
    font-size: 14px;
    height: 50px;
    margin-top: -50px;
    opacity: 0.99;
    padding: 1%;
    width: 100%;
}
.caption p
{
    text-align: left;
}

.slide_text {
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    color: white;
    font-size: 14px;
    opacity: 0.99;
    padding: 10px;
    position: absolute;
    width: 10%;
    z-index: 9999;
}

.thumbnail
{
    padding: 0px;
    margin-left: 1px;
    margin-top: -18px;
}
.thumbnail img
{
    height: 83px;
    width: 83px;
}
.thumbnail img:hover
{
    opacity: 0.6;
}

.thumbnail.selected img {
    border: 2px solid red;
    height: 83px;
    width: 83px;
}

.thumbnail .selected {
    height: 83px;
    width: 83px;
}

.thumbnail-list > li
{
    float: left;
}

.toggle-thumbnails button {
    background: #026dc5;
    border: 0 none;
    bottom: 0;
    color: #f5f4f0;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 83px;
    width: 169px;
    font-family: arial,helvetica,sans-serif;
    padding: 0;
    margin-left: 2px;
    margin-top: -18px;
    border-radius: 5px;
}
.toggle-thumbnails button:hover
{
    background: #003789;
}
.hide-thumbnail
{
    display: none;
}
.show-thumbnail
{
    display: block;
}

.am-money i {
    color: #f3cc0a;
}
.am-no i {
    color: #dc0300;
}

.checkin-calendar {
    display: table;
}

.checkin-calendar input{
    margin-bottom: 0;
}